# Diretório de ambiente Python
/backend/venv/
/backend/.venv/

# Cache e bytecode Python
/backend/__pycache__/
/backend/*.py[cod]
/backend/*.pyo
/backend/*.pyd

# Arquivos de ambiente
*.env
/backend/.env

# Logs
*.log
/logs/

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências front-end
/frontend/node_modules/

# Build do Vite
/frontend/dist/
/backend/static/front/dist



# Arquivos de lock não ignorados (mantêm versões travadas)
# package-lock.json  ← deixar versionado
# requirements.txt  ← deixar versionado
